<h1 class="highlight" align="center" style="margin-top:150px">"Crowd Farm"</h1></br>
<h2 align="center" style="margin-top:10px"> <%= link_to "Sign up.", new_user_registration_path, :style => 'color:white' %> </h2></br>
<p align="center" style="margin-top:10px"> <%= link_to "Sign in.", new_user_session_path, :style => 'color:white' %> </p>
