<div align="center"><%= image_tag("logoHead.png") %></div>
 <div class="content">
  <div class="sepLogo"></div>
    <div class="topmainBkg"></div>
	  <div class="bottommainBkg"></div>
		<div class="mainContent">
		  <p class="caps" align="center">Not content with what's out there?</br>
		  <span class="highlight caps">Grow something yourself:</span></p>
		 <div align="center">
		  <p><span class="highlight">(1)</span></br>&nbsp;Propose a nightlife concept.</p>
		 <p><span class="highlight">(2)</span></br>&nbsp;Give it some tags.</p>
		 <p><span class="highlight">(3)</span></br>&nbsp;Set a crowd target.</p>
		 <p><span class="highlight">(4)</span></br>&nbsp;Get other people interested.</br></p>
		 <p><span class="highlight">(5)</span></br>&nbsp; If your target is reached,</br>&nbsp;the potato will make it happen,<br/>
		 &nbsp;and you will drink for free.</p></br>
		 <%= link_to "BACK", farmposts_path, class: "growbtn" %>
		 </div>
		</div>
		
		