POST CREATOR:
 <div class="highlight">
    <%= @creator_email %>
 </div>
  </br></br>
 <div> POST VOTERS: 
  	<% if !@postvote.blank? %>
  <ol>
    <% @postvote.each do |v| %>
    <% @voter_id = v.user_id %>
    <% @voter_user = User.find_by_id(@voter_id) %>
    <% @voter_email = @voter_user.email %>
   <li class="highlight">
    <%= @voter_email %>
    <% end %>
    <% else %>
  	<% end %>
   </li>
  </ol>
 </div>